{% extends "base.html" %}

{% block lab %}Лабораторная работа №6{% endblock %}

{% block main %}
    <style>
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #f8f9fa;
            padding: 10px;
            border: 5px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }
        
        .nav-button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-left: 10px; /* Отступ между кнопками */
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .nav-button a {
            text-decoration: none; /* Убираем подчеркивание */
            color: inherit; /* Унаследуем цвет */
        }
        
        .nav-button:hover {
            background-color: deepskyblue; /* Цвет кнопки при наведении */
        }

        .content {
            margin-top: 20px;
        }

        .form-container {
            display: none;
        }

        .form-container.active {
            display: block;
        }

        .username {
            font-weight: bold;
        }

        #office-list-ul {
            list-style-type: none;
            padding: 0;
        }

        #office-list-ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border: 5px solid #ccc;
            border-radius: 5px;
            background-color: #f8f9fa;
        }

        #office-list-ul li span {
            flex-grow: 1;
        }

        #office-list-ul li button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px; /* Увеличиваем размер кнопок */
            margin-left: 10px;
            font-size: 16px; /* Увеличиваем размер шрифта */
            border-radius: 5px;
            cursor: pointer;
        }

        #office-list-ul li button:hover {
            background-color: deepskyblue;
        }

        #login-form,
        #register-form {
            border: 5px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 30%;
            background-color: #f8f9fa;
        }

        #login-form input,
        #register-form input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 30%;
            background-color: #adadad;
        }

        #login-form button,
        #register-form button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        #login-form button:hover,
        #register-form button:hover {
            background-color: deepskyblue;
        }

        #notification {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            border-radius: 5px;
            display: none;
            z-index: 1000;
        }
    </style>

    <h1>API JSON-RPC</h1>
    <div>
        Тема лабораторной - API JSON-RPC. Список страниц:
    </div>

    <nav>
        <div class="username" id="username">{{ username }}</div>
        <div>
            <button class="nav-button"><a href="/">Главная страница</a></button>
            <button class="nav-button" onclick="showContent('office-list')">Список офисов</button>
            <button class="nav-button" onclick="showContent('login-form')">Авторизация</button>
            <button class="nav-button" onclick="showContent('register-form')">Регистрация</button>
            <button class="nav-button" onclick="logout()">Выйти</button>
        </div>
    </nav>

    <div id="notification"></div>

    <div class="content">
        <div id="office-list" class="form-container active">
            <h1>Список кабинетов</h1>
            <ul id="office-list-ul"></ul>
            <div id="total-cost">Общая стоимость аренды: 0 руб.</div>
        </div>

        <div id="login-form" class="form-container">
            <h2>Вход</h2>
            <input type="text" id="login-login" placeholder="Логин">
            <input type="password" id="login-password" placeholder="Пароль">
            <button onclick="login()">Войти</button>
        </div>

        <div id="register-form" class="form-container">
            <h2>Регистрация</h2>
            <input type="text" id="register-login" placeholder="Логин">
            <input type="password" id="register-password" placeholder="Пароль">
            <button onclick="register()">Зарегистрироваться</button>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.innerText = message;
        notification.style.display = 'block';
        setTimeout(() => {
            notification.style.display = 'none';
        }, 3000); // Скрыть уведомление через 3 секунды
    }

    function getOfficeList() {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'info',
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            const office_list = data.result;
            const ul = document.getElementById('office-list-ul');
            ul.innerHTML = ''; // Очищаем список перед добавлением новых элементов
            let totalCost = 0;
            const username = document.getElementById('username').innerText;

            for(let i = 0; i < office_list.length; i++) {
                const office = office_list[i];
                const li = document.createElement('li');
                const span = document.createElement('span');
                span.innerText = `${office.number}: ${office.tenant || 'свободен'}, стоимость: ${office.price} руб.`;
                li.appendChild(span);

                const bookingButton = document.createElement('button');
                bookingButton.innerText = 'Зарезервировать';
                bookingButton.onclick = function() { booking(office.number) };
                li.appendChild(bookingButton);

                const unbookingButton = document.createElement('button');
                unbookingButton.innerText = 'Освободить';
                unbookingButton.onclick = function() { unbooking(office.number) };
                li.appendChild(unbookingButton);

                ul.appendChild(li);
            

                if (office.tenant === username) {
                    totalCost += office.price;
                }
            }
            document.getElementById('total-cost').innerText = `Общая стоимость аренды: ${totalCost} руб.`;
        });
    }

    function booking(officeNumber) {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'booking',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                switch(data.error.code) {
                    case 1:
                        showNotification('Вы не авторизованы, пожалуйста, авторизуйтесь');
                        break;
                    case 2:
                        showNotification('Офис уже арендуется');
                        break;
                    case -32601:
                        showNotification('Странная ошибка');
                        break;
                }
            } else {
                showNotification('Офис успешно зарезервирован');
                getOfficeList();
            }
        });
    }

    function unbooking(officeNumber) {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'unbooking',
            'params': officeNumber,
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                switch(data.error.code) {
                    case 1:
                        showNotification('Вы не авторизованы, пожалуйста, авторизуйтесь');
                        break;
                    case 5:
                        showNotification('Вы не являетесь арендатором этого офиса');
                        break;
                    case -32601:
                        showNotification('Странная ошибка');
                        break;
                }
            } else {
                showNotification('Офис успешно освобожден');
                getOfficeList();
            }
        });
    }

    function register() {
        const login = document.getElementById('register-login').value;
        const password = document.getElementById('register-password').value;
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'register',
            'params': {
                'login': login,
                'password': password
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Регистрация прошла успешно');
                clearInputs();
                showContent('office-list');
            }
        });
    }

    function login() {
        const login = document.getElementById('login-login').value;
        const password = document.getElementById('login-password').value;
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'login',
            'params': {
                'login': login,
                'password': password
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Вход выполнен успешно');
                clearInputs();
                showContent('office-list');
                document.getElementById('username').innerText = login;
                getOfficeList();
            }
        });
    }

    function logout() {
        const url = '/lab6/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'logout',
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Вы вышли из аккаунта');
                document.getElementById('username').innerText = 'Анонимус';
                showContent('office-list');
                getOfficeList();
            }
        });
    }

    function clearInputs() {
        document.getElementById('register-login').value = '';
        document.getElementById('register-password').value = '';
        document.getElementById('login-login').value = '';
        document.getElementById('login-password').value = '';
    }

    function showContent(contentId) {
        const containers = document.querySelectorAll('.form-container');
        containers.forEach(container => {
            container.classList.remove('active');
        });
        document.getElementById(contentId).classList.add('active');
    }

    document.addEventListener('DOMContentLoaded', function() {
        getOfficeList();
    });
</script>
{% endblock %}