{% extends "base.html" %}

{% block main %}
<h1>Выберите подкатегорию, {{ name }}!</h1>
<form method="POST">
    {% if preference == 'что-то вкусное' %}
        <input type="radio" name="sub_preference" value="сладкое" required> Сладкое<br>
        <input type="radio" name="sub_preference" value="сытное"> Сытное<br>
    {% else %}
        <input type="radio" name="sub_preference" value="природа" required> Природа<br>
        <input type="radio" name="sub_preference" value="искусство"> Искусство<br>
    {% endif %}
    <button type="submit">Далее</button>
</form>
{% endblock %}