img {
    width: 1000px;
    height: 700px;
}

body {
    color: black; /* Цвет шрифта */
    font-size: 20px; /* Размер шрифта */
    background-color: #659DBD;
    font-family: Arial;
    margin: 0px;
    line-height: 1.5em;
}

footer {
    background-color: black; 
    color: LightGreen; 
    padding: 10px; 
    font-size: 16pt; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: black; 
    color: LightGreen; 
    padding: 10px; 
    font-size: 16pt;
}

main {
    margin: 20px;
}