{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа №2{% endblock %}  
    
{# основной контент #}
{% block main %}
<div>
    <h1>Калькулятор</h1>
    <p>a = {{ a }}, b = {{ b }}</p>
    <ul>
        <li>Сумма: {{ result['Сумма'] }}</li>
        <li>Вычитание: {{ result['Вычитание'] }}</li>
        <li>Умножение: {{ result['Умножение'] }}</li>
        <li>Деление: {{ result['Деление'] }}</li>
        <li>Возведение в степень: {{ result['Возведение в степень'] }}</li>
    </ul>
</div>
{% endblock %}