{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа №2{% endblock %}

{% block main %}
    <h1>Список и количество цветов</h1>
    <p>Всего цветов: {{ total }}</p>
    <ul>
        {% for flower in flower_list_with_prices %}
            <li>{{ flower.name }} ({{ flower.price }} руб.) <a href="{{ url_for('lab2.delete_flower', flower_id=loop.index0) }}">Удалить</a></li>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="{{ url_for('lab2.delete_all_flowers') }}">Удалить все цветы</a></li>
        <li><a href="{{ url_for('lab2.add_flower') }}">Добавить цветок</a></li>
        <li><a href="{{ url_for('lab2.lab') }}">Вернуться на главную страницу</a></li>
    </ul>
{% endblock %}