{% extends "base.html" %}

{% block Lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <style>
        nav {
            display: flex;
            align-items: center;
        }
        
        .nav-button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-left: 10px; /* Отступ между кнопками */
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .nav-button a {
            text-decoration: none; /* Убираем подчеркивание */
            color: inherit; /* Унаследуем цвет */
        }
        
        .nav-button:hover {
            background-color: deepskyblue; /* Цвет кнопки при наведении */
        }
    </style>
    <h1>Аккаунт пользователя {{ user.name }}</h1>

    <p>Логин: {{ user.login }}</p>

    <div style="background-color: #f8f9fa; padding: 10px; margin: 0; border: 5px solid #ccc; width: 100%; box-sizing: border-box;">
        <nav style="display: flex; align-items: center; justify-content: center;">
            <div style="display: flex; gap: 10px; justify-content: center;"> 
                <button class="nav-button" type="submit"><a href="/rgz/edit_account">Редактировать данные админа</a></button>
                <button class="nav-button" type="submit"><a href="/rgz/logout">Выйти</a></button>
                <form method="POST" action="/rgz/delete_account">
                    <button class="nav-button" type="submit">Удалить аккаунт</button>
                </form>
                <button class="nav-button" type="submit"><a href="/rgz/">Меню лабораторной</a></button>
            </div>                  
        </nav>
    </div>
    
{% endblock %}