{% extends "base.html" %}

{% block Lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
<style>
    .button {
        background-color: lightblue;
        border: 3px solid black; /* Задаем стиль и цвет рамки */
        color: black;
        padding: 10px 20px;
        margin-left: 10px; /* Отступ между кнопками */
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .button a {
        text-decoration: none; /* Убираем подчеркивание */
        color: inherit; /* Унаследуем цвет */
    }
    
    .button:hover {
        background-color: deepskyblue; /* Цвет кнопки при наведении */
    }

    /* Стили для полей ввода */
    input[type="text"], input[type="password"] {
        width: 100%; /* Ширина 100% от родительского элемента */
        max-width: 400px; /* Максимальная ширина поля */
        height: 40px; /* Высота поля */
        padding: 10px; /* Отступ внутри поля */
        margin-top: 5px; /* Отступ сверху */
        margin-bottom: 15px; /* Отступ снизу */
        border: 2px solid #ccc; /* Рамка поля */
        border-radius: 5px; /* Закругление углов */
        box-sizing: border-box; /* Учитываем отступы и рамки в ширине */
    }
</style>
    <h1>Редактировать данные админа</h1>

    <form id="edit-account-form">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" value="{{ user.login }}">
        
        <label for="password">Новый пароль:</label>
        <input type="password" id="password" name="password">
        
        <button class="button" type="submit">Сохранить</button>
    </form>
    <p> </p>
    <button class="button" type="submit"><a href="/rgz/account">Назад к аккаунту</a></button>

    <script>
        document.getElementById('edit-account-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = {
                jsonrpc: '2.0',
                method: 'edit_account',
                params: {
                    login: formData.get('login'),
                    password: formData.get('password')
                },
                id: 1
            };

            fetch('/rgz/edit_account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert('Ошибка: ' + data.error.message);
                } else {
                    alert('Данные успешно обновлены');
                    window.location.href = data.result.redirect;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Произошла ошибка при отправке запроса');
            });
        });
    </script>
{% endblock %}