{% extends "base.html" %}

{% block lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
<style>
    .button {
        background-color: lightblue;
        border: 3px solid black; /* Задаем стиль и цвет рамки */
        color: black;
        padding: 10px 20px;
        margin-top: 10px; /* Отступ сверху */
        margin-left: 10px; /* Отступ между кнопками */
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none; /* Убираем подчеркивание для ссылок */
        display: inline-block; /* Для корректного отображения кнопки */
    }
    
    .button:hover {
        background-color: deepskyblue; /* Цвет кнопки при наведении */
    }

    /* Стили для полей ввода */
    input[type="text"], input[type="password"] {
        width: 100%; /* Ширина 100% от родительского элемента */
        max-width: 400px; /* Максимальная ширина поля */
        height: 40px; /* Высота поля */
        padding: 10px; /* Отступ внутри поля */
        margin-top: 5px; /* Отступ сверху */
        margin-bottom: 15px; /* Отступ снизу */
        border: 2px solid #ccc; /* Рамка поля */
        border-radius: 5px; /* Закругление углов */
        box-sizing: border-box; /* Учитываем отступы и рамки в ширине */
    }
</style>

<h1>Вход в систему</h1>
{% if error %}
    <div style="color: red; margin-bottom: 10px;">
        {{ error }}
    </div>
{% endif %}
<form id="loginForm">
    <div>
        <label>
            Логин: <input type="text" id="login" name="login" required>
        </label>    
    </div>

    <div>
        <label>
            Пароль: <input type="password" id="password" name="password" required>
        </label>  
    </div>

    <button class="button" type="submit">Вход</button>
    <p> </p>
    <a class="button" href="/rgz/">Меню лабораторной</a>
</form>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const login = document.getElementById('login').value;
        const password = document.getElementById('password').value;

        fetch('/rgz/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                method: 'login',
                params: {
                    login: login,
                    password: password
                }
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.result && data.result.redirect) {
                window.location.href = data.result.redirect;
            } else {
                alert(data.error);
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}