{% extends "base.html" %}

{% block main %}
    <style>
        nav {
            display: flex;
            align-items: center;
        }
        
        .nav-button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-left: 10px; /* Отступ между кнопками */
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .nav-button a {
            text-decoration: none; /* Убираем подчеркивание */
            color: inherit; /* Унаследуем цвет */
        }
        
        .nav-button:hover {
            background-color: deepskyblue; /* Цвет кнопки при наведении */
        }
    </style>

    <h1>Управление списком книг</h1>

    <div style="background-color: #f8f9fa; padding: 10px; margin: 0; border: 5px solid #ccc; width: 100%; box-sizing: border-box;">
        <nav style="display: flex; align-items: center; justify-content: center;">
            <div style="display: flex; gap: 10px; justify-content: center;"> 
                <button class="nav-button" type="submit"> <a href="{{ url_for('rgz.edit_book') }}">Редактировать книгу</a></button>
                <button class="nav-button" type="submit"><a href="/rgz/add_book">Добавить книгу</a></button>
                <button class="nav-button" type="submit"><a href="/rgz/delete_book">Удалить книгу</a></button>
                <button class="nav-button" type="submit"><a href="/rgz/">Меню лабораторной</a></button>
            </div>                  
        </nav>
    </div>
{% endblock %}