{% extends "base.html" %}

{% block lab %}РГЗ{% endblock %}

{% block main %}
    <style>
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #f8f9fa;
            padding: 10px;
            border: 5px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }
        
        .nav-button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-left: 10px; /* Отступ между кнопками */
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .nav-button a {
            text-decoration: none; /* Убираем подчеркивание */
            color: inherit; /* Унаследуем цвет */
        }
        
        .nav-button:hover {
            background-color: deepskyblue; /* Цвет кнопки при наведении */
        }

        .content {
            margin-top: 20px;
        }

        .form-container {
            display: none;
        }

        .form-container.active {
            display: block;
        }

        .username {
            font-weight: bold;
        }

        #notification {
            position: fixed;
            top: 10px;
            right: 10px;
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            border-radius: 5px;
            display: none;
            z-index: 1000;
        }

        #login-form,
        #register-form {
            border: 5px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 30%;
            background-color: #f8f9fa;
        }

        #login-form input,
        #register-form input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 30%;
            background-color: #adadad;
            border: 2px solid black;
        }

        #login-form button,
        #register-form button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        #login-form button:hover,
        #register-form button:hover {
            background-color: deepskyblue;
        }

        .book {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 20px;
            border: 5px solid #ccc;
            border-radius: 5px;
            background-color: #f8f9fa;
        }

        .book img {
            width: 200px;
            height: 285px;
            margin-right: 20px;
        }

        .book-info {
            flex-grow: 1;
        }

        .book-info h2 {
            margin: 0;
        }

        .book-info p {
            margin: 5px 0;
        }

        .pagination {
            margin-top: 20px;
        }

        .pagination button {
            margin-right: 10px;
            text-decoration: none;
            color: blue;
            background-color: lightblue;
            border: 3px solid black;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .pagination button:hover {
            background-color: deepskyblue;
        }

        .filter {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .filter input, .filter select {
            margin-right: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 300px;
            background-color: #adadad;
            border: 2px solid black;
        }

        .filter button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .filter button:hover {
            background-color: deepskyblue;
        }

        .filter-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #f8f9fa;
            padding: 10px;
            border: 5px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }

        #add-book-form {
            border: 5px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 30%;
            background-color: #f8f9fa;
        }

        #add-book-form input,
        #add-book-form select {
            width: 85%;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            background-color: #adadad;
        }

        #add-book-form button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        #add-book-form button:hover {
            background-color: deepskyblue;
        }

        #delete-book-form {
            border: 5px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 30%;
            background-color: #f8f9fa;
            
        }

        #delete-book-form input {
            width: 85%;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            background-color: #adadad;
        }

        #delete-book-form button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        #delete-book-info {
            margin-top: 20px;
            padding: 20px;
        }

        #delete-book-form button:hover {
            background-color: deepskyblue;
        }

        #edit-book-form {
            border: 5px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 30%;
            background-color: #f8f9fa;
        }
        
        #edit-book-form input,
        #edit-book-form select {
            width: 85%;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 16px;
            background-color: #adadad;
        }
        
        #edit-book-form button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        #edit-book-form button:hover {
            background-color: deepskyblue;
        }
        
        #edit-book-info {
            margin-top: 20px;
            padding: 20px;
        }
    </style>
    <nav>
        <div class="username" id="username">{{ username }}</div>
        <div id="nav-buttons">
            <button class="nav-button"><a href="/">Главная страница</a></button>
            <button class="nav-button" onclick="showContent('books-container')">Список книг</button>
            <button class="nav-button" onclick="showContent('add-book-form')">Добавить книгу</button>
            <button class="nav-button" onclick="showContent('edit-book-form')">Редактировать книгу</button>
            <button class="nav-button" onclick="showContent('delete-book-form')">Удалить книгу</button>
            <button class="nav-button" onclick="showContent('login-form')">Авторизация</button>
            <button class="nav-button" onclick="showContent('register-form')">Регистрация</button>
            <button class="nav-button" onclick="logout()">Выйти</button>
        </div>
    </nav>
    
    <div id="notification"></div>
    
    <div id="login-form" class="form-container">
        <h2>Вход</h2>
        <input type="text" id="login-login" placeholder="Логин">
        <input type="password" id="login-password" placeholder="Пароль">
        <button onclick="login()">Войти</button>
    </div>
    
    <div id="register-form" class="form-container">
        <h2>Регистрация</h2>
        <input type="text" id="register-login" placeholder="Логин">
        <input type="password" id="register-password" placeholder="Пароль">
        <button onclick="register()">Зарегистрироваться</button>
    </div>
    
    <div id="books-container" class="form-container" style="display: none;">
        <h2>Список книг</h2>
        <nav class="filter-nav">
            <div class="filter">
                <form id="filter-form">
                    <input type="text" id="filter-title" placeholder="Название">
                    <input type="text" id="filter-author" placeholder="Автор">
                    <input type="number" id="filter-min-pages" placeholder="Минимальное количество страниц">
                    <input type="number" id="filter-max-pages" placeholder="Максимальное количество страниц">
                    <input type="text" id="filter-publisher" placeholder="Издательство">
                    <button type="button" onclick="filterBooks()">Применить фильтр</button>
                    <button type="button" onclick="resetFilter()">Сбросить фильтр</button>
                </form>
            </div>
        </nav>
        <div id="books-list"></div>
        <div class="pagination">
            <button id="prev-page" onclick="prevPage()" disabled>Предыдущие</button>
            <button id="next-page" onclick="nextPage()">Следующие</button>
        </div>
    </div>

    <div id="add-book-form" class="form-container" style="display: none;">
        <h2>Добавить книгу</h2>
        <input type="number" id="add-book-id" placeholder="ID книги" required>
        <input type="text" id="add-book-title" placeholder="Название" required>
        <input type="text" id="add-book-author" placeholder="Автор" required>
        <input type="number" id="add-book-year" placeholder="Год публикации" required>
        <input type="number" id="add-book-pages" placeholder="Количество страниц" required>
        <input type="text" id="add-book-publisher" placeholder="Издательство" required>
        <input type="text" id="add-book-cover" placeholder="Обложка">
        <button onclick="addBook()">Добавить книгу</button>
    </div>

    <div id="delete-book-form" class="form-container" style="display: none;">
        <h2>Удалить книгу</h2>
        <input type="number" id="delete-book-id" placeholder="ID книги" required>
        <button onclick="searchBook()">Найти книгу</button>
        <div id="delete-book-info"></div>
    </div>

    <div id="edit-book-form" class="form-container" style="display: none;">
        <h2>Редактировать книгу</h2>
        <input type="number" id="edit-book-id" placeholder="ID книги" required>
        <button onclick="searchBookForEdit()">Найти книгу</button>
        <div id="edit-book-info"></div>
    </div>
{% endblock %}

{% block script %}
<script>
    let currentPage = 1;
    let totalPages = 1;

    function showNotification(message) {
        const notification = document.getElementById('notification');
        notification.innerText = message;
        notification.style.display = 'block';
        setTimeout(() => {
            notification.style.display = 'none';
        }, 3000); // Скрыть уведомление через 3 секунды
    }

    function logout() {
        if (!isLoggedIn()) {
            showNotification('Вы не авторизованы');
            return;
        }
    
        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'logout',
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Вы вышли из аккаунта');
                document.getElementById('username').innerText = 'Анонимус';
                showContent('login-form');
                updateNavButtons();
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при выходе: ' + error.message);
        });
    }

    function register() {
        const login = document.getElementById('register-login').value;
        const password = document.getElementById('register-password').value;
        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'register',
            'params': {
                'login': login,
                'password': password
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Регистрация прошла успешно');
                clearInputs();
                showContent('login-form');
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при регистрации: ' + error.message);
        });
    }

    function login() {
        const login = document.getElementById('login-login').value;
        const password = document.getElementById('login-password').value;
        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'login',
            'params': {
                'login': login,
                'password': password
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Вход выполнен успешно');
                clearInputs();
                document.getElementById('username').innerText = login;
                showContent('login-form');
                updateNavButtons();
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при входе: ' + error.message);
        });
    }

    function clearInputs() {
        document.getElementById('register-login').value = '';
        document.getElementById('register-password').value = '';
        document.getElementById('login-login').value = '';
        document.getElementById('login-password').value = '';
    }

    function showContent(contentId) {
        const containers = document.querySelectorAll('.form-container');
        containers.forEach(container => {
            if (container) {
                container.style.display = 'none';
            }
        });
        const content = document.getElementById(contentId);
        if (content) {
            content.style.display = 'block';
        }

        // Проверка авторизации для определенных форм
        if (contentId === 'add-book-form' || contentId === 'delete-book-form' || contentId === 'edit-book-form') {
            if (!isLoggedIn()) {
                showNotification('Вы должны быть авторизованы для выполнения этого действия');
                showContent('login-form');
            }
        }
    }

    function loadBooks() {
        const title = document.getElementById('filter-title').value;
        const author = document.getElementById('filter-author').value;
        const minPages = document.getElementById('filter-min-pages').value;
        const maxPages = document.getElementById('filter-max-pages').value;
        const publisher = document.getElementById('filter-publisher').value;

        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'get_books',
            'params': {
                'title': title,
                'author': author,
                'min_pages': minPages,
                'max_pages': maxPages,
                'publisher': publisher,
                'page': currentPage
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                console.log(data.result.books);  // Отладочное сообщение
                displayBooks(data.result.books);
                totalPages = data.result.total_pages;
                updatePagination();
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при загрузке книг: ' + error.message);
        });
    }

    function displayBooks(books) {
        console.log("Displaying books:", books);  // Отладочное сообщение
        const booksList = document.getElementById('books-list');
        booksList.innerHTML = '';
        books.forEach(book => {
            const bookDiv = document.createElement('div');
            bookDiv.className = 'book';
            bookDiv.innerHTML = `
                <div class="book-info">
                    <h2>${book.title}</h2>
                    <p>Автор: ${book.author}</p>
                    <p>Год публикации: ${book.year_of_publication}</p>
                    <p>Количество страниц: ${book.amount_of_pages}</p>
                    <p>Издательство: ${book.publisher}</p>
                </div>
                <img src="${book.book_cover}" alt="${book.title}">
            `;
            booksList.appendChild(bookDiv);
        });
    }

    function updatePagination() {
        const prevPageButton = document.getElementById('prev-page');
        const nextPageButton = document.getElementById('next-page');
        prevPageButton.disabled = currentPage === 1;
        nextPageButton.disabled = currentPage === totalPages;
    }

    function prevPage() {
        console.log("Previous page button clicked");  // Отладочное сообщение
        if (currentPage > 1) {
            currentPage--;
            loadBooks();
        }
    }

    function nextPage() {
        console.log("Next page button clicked");  // Отладочное сообщение
        if (currentPage < totalPages) {
            currentPage++;
            loadBooks();
        }
    }

    function filterBooks() {
        currentPage = 1;
        loadBooks();
    }

    function resetFilter() {
        document.getElementById('filter-title').value = '';
        document.getElementById('filter-author').value = '';
        document.getElementById('filter-min-pages').value = '';
        document.getElementById('filter-max-pages').value = '';
        document.getElementById('filter-publisher').value = '';
        filterBooks();
    }

    function addBook() {
        if (!isLoggedIn()) {
            showNotification('Вы должны быть авторизованы для добавления книги');
            showContent('login-form');
            return;
        }

        const id = document.getElementById('add-book-id').value;
        const title = document.getElementById('add-book-title').value;
        const author = document.getElementById('add-book-author').value;
        const year = document.getElementById('add-book-year').value;
        const pages = document.getElementById('add-book-pages').value;
        const publisher = document.getElementById('add-book-publisher').value;
        const cover = document.getElementById('add-book-cover').value;

        if (!id || !title || !author || !year || !pages || !publisher) {
            showNotification('Все поля, кроме обложки, обязательны к заполнению');
            return;
        }

        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'add_book',
            'params': {
                'id': id,
                'title': title,
                'author': author,
                'year_of_publication': year,
                'amount_of_pages': pages,
                'publisher': publisher,
                'book_cover': cover
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Книга успешно добавлена');
                clearAddBookForm();
                loadBooks();
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при добавлении книги: ' + error.message);
        });
    }

    function clearAddBookForm() {
        document.getElementById('add-book-id').value = '';
        document.getElementById('add-book-title').value = '';
        document.getElementById('add-book-author').value = '';
        document.getElementById('add-book-year').value = '';
        document.getElementById('add-book-pages').value = '';
        document.getElementById('add-book-publisher').value = '';
        document.getElementById('add-book-cover').value = '';
    }

    function searchBook() {
        if (!isLoggedIn()) {
            showNotification('Вы должны быть авторизованы для удаления книги');
            showContent('login-form');
            return;
        }

        const bookId = document.getElementById('delete-book-id').value;
        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'get_book',
            'params': {
                'id': bookId
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                displayBookForDeletion(data.result.book);
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при поиске книги: ' + error.message);
        });
    }

    function displayBookForDeletion(book) {
        const bookInfo = document.getElementById('delete-book-info');
        bookInfo.innerHTML = `
            <div class="book">
                <div class="book-info">
                    <h2>${book.title}</h2>
                    <p>Автор: ${book.author}</p>
                    <p>Год публикации: ${book.year_of_publication}</p>
                    <p>Количество страниц: ${book.amount_of_pages}</p>
                    <p>Издательство: ${book.publisher}</p>
                </div>
                <img src="${book.book_cover}" alt="${book.title}">
            </div>
            <button onclick="deleteBook(${book.id})">Удалить книгу</button>
        `;
    }

    function deleteBook(bookId) {
        if (!isLoggedIn()) {
            showNotification('Вы должны быть авторизованы для удаления книги');
            showContent('login-form');
            return;
        }

        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'delete_book',
            'params': {
                'id': bookId
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Книга успешно удалена');
                document.getElementById('delete-book-info').innerHTML = '';
                loadBooks();
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при удалении книги: ' + error.message);
        });
    }

    function searchBookForEdit() {
        if (!isLoggedIn()) {
            showNotification('Вы должны быть авторизованы для редактирования книги');
            showContent('login-form');
            return;
        }

        const bookId = document.getElementById('edit-book-id').value;
        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'get_book',
            'params': {
                'id': bookId
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                displayBookForEdit(data.result.book);
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при поиске книги: ' + error.message);
        });
    }

    function displayBookForEdit(book) {
        const bookInfo = document.getElementById('edit-book-info');
        bookInfo.innerHTML = `
            <div class="book">
                <div class="book-info">
                    <h2>${book.title}</h2>
                    <p>Автор: ${book.author}</p>
                    <p>Год публикации: ${book.year_of_publication}</p>
                    <p>Количество страниц: ${book.amount_of_pages}</p>
                    <p>Издательство: ${book.publisher}</p>
                </div>
                <img src="${book.book_cover}" alt="${book.title}">
            </div>
            <form id="edit-book-form-fields">
                <input type="text" id="edit-book-title" placeholder="Название" value="${book.title}" required>
                <input type="text" id="edit-book-author" placeholder="Автор" value="${book.author}" required>
                <input type="number" id="edit-book-year" placeholder="Год публикации" value="${book.year_of_publication}" required>
                <input type="number" id="edit-book-pages" placeholder="Количество страниц" value="${book.amount_of_pages}" required>
                <input type="text" id="edit-book-publisher" placeholder="Издательство" value="${book.publisher}" required>
                <input type="text" id="edit-book-cover" placeholder="Обложка" value="${book.book_cover}">
                <button type="button" onclick="updateBook(${book.id})">Сохранить изменения</button>
            </form>
        `;
    }
    
    function updateBook(bookId) {
        if (!isLoggedIn()) {
            showNotification('Вы должны быть авторизованы для редактирования книги');
            showContent('login-form');
            return;
        }

        const title = document.getElementById('edit-book-title').value;
        const author = document.getElementById('edit-book-author').value;
        const year = document.getElementById('edit-book-year').value;
        const pages = document.getElementById('edit-book-pages').value;
        const publisher = document.getElementById('edit-book-publisher').value;
        const cover = document.getElementById('edit-book-cover').value;
    
        if (!title || !author || !year || !pages || !publisher) {
            showNotification('Все поля, кроме обложки, обязательны к заполнению');
            return;
        }
    
        const url = '/rgz/json-rpc-api';
        const json = {
            'jsonrpc': '2.0',
            'method': 'update_book',
            'params': {
                'id': bookId,
                'title': title,
                'author': author,
                'year_of_publication': year,
                'amount_of_pages': pages,
                'publisher': publisher,
                'book_cover': cover
            },
            'id': Math.round(Math.random() * 1000)
        };
        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                showNotification(data.error.message);
            } else {
                showNotification('Данные книги успешно обновлены');
                document.getElementById('edit-book-info').innerHTML = '';
                loadBooks();
            }
        })
        .catch(function(error) {
            showNotification('Ошибка при обновлении данных книги: ' + error.message);
        });
    }

    function isLoggedIn() {
        return document.getElementById('username').innerText !== 'Анонимус';
    }

    function updateNavButtons() {
        const navButtons = document.getElementById('nav-buttons').children;
        for (let i = 0; i < navButtons.length; i++) {
            const button = navButtons[i];
            if (button.innerText === 'Добавить книгу' || button.innerText === 'Редактировать книгу' || button.innerText === 'Удалить книгу') {
                button.style.display = isLoggedIn() ? 'inline-block' : 'none';
            }
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        showContent('books-container');  // Показываем список книг сразу
        loadBooks();  // Загружаем книги при загрузке страницы
        updateNavButtons();  // Обновляем видимость кнопок навигации
    });
</script>
{% endblock %}