{% extends "base.html" %}

{% block Lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
  <style>
    .button {
      background-color: lightblue;
      border: 3px solid black; /* Задаем стиль и цвет рамки */
      color: black;
      padding: 10px 20px;
      margin-top: 10px; /* Отступ сверху */
      margin-left: 10px; /* Отступ между кнопками */
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none; /* Убираем подчеркивание для ссылок */
      display: inline-block; /* Для корректного отображения кнопки */
  }
  
  .button:hover {
      background-color: deepskyblue; /* Цвет кнопки при наведении */
  }
  </style>
  <h1>Поздравляем с успешной авторизацией, {{ login }}!</h1>
  <p>Вы успешно авторизовались. Теперь Вы можете пользоваться нашей базой данных.</p>
  <button class="button" type="submit"><a href="/rgz">Перейти к базе данных</a></button>
{% endblock %}
