{% extends "base.html" %}

{% block lab %}Лабораторная работа №8{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    {% if error %}
        <div style="color: red;">
            {{ error }}
        </div>
    {% endif %}
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required> <!-- Добавлено required для валидации -->
            </label>
        </div>
    
        <div>
            <label>
                Текст статьи:
                <textarea name="article_text" required></textarea> <!-- Добавлено required для валидации -->
            </label>
        </div>
    
        <div>
            <button type="submit">Готово</button>
        </div>
        <p> </p>
        <a href="/lab8/">Меню лабораторной</a>
    </form>    
{% endblock %}
