{% extends "base.html" %}

{% block lab %}Лабораторная работа №8{% endblock %}

{% block main %}
    <style>
        nav {
            display: flex;
            align-items: center;
        }
        
        .nav-button {
            background-color: lightblue;
            border: none;
            color: black;
            padding: 10px 20px;
            margin-left: 10px; /* Отступ между кнопками */
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .nav-button a {
            text-decoration: none; /* Убираем подчеркивание */
            color: inherit; /* Унаследуем цвет */
        }
        
        .nav-button:hover {
            background-color: deepskyblue; /* Цвет кнопки при наведении */
        }
    </style>
    <h1>Flask и ORM</h1>
    <div>
        Тема лабораторной - Flask и ORM.
    </div>
    <p> </p>
    <div style="background-color: #f8f9fa; padding: 10px; margin: 0; border: 5px solid #ccc;  width: 100%;  box-sizing: border-box;">
        <nav style="display: flex; align-items: center;">
            <div class="username" style="margin-right: 20px; font-weight: bold;">
                {{ current_user.login if current_user.is_authenticated else 'Анонимус' }}
            </div>
            <div>
                <button class="nav-button"><a href="/">Главное меню</a></button>
                <button class="nav-button"><a href="{{ url_for('lab8.login') }}">Войти</a></button>
                <button class="nav-button"><a href="{{ url_for('lab8.register') }}">Регистрация</a></button>
                <button class="nav-button"><a href="{{ url_for('lab8.create') }}">Создать статью</a></button>
                <button class="nav-button"><a href="{{ url_for('lab8.personal_articles') }}">Личные статьи</a></button>
                <button class="nav-button"><a href="{{ url_for('lab8.public_articles') }}">Публичные статьи</a></button>
                <button class="nav-button"><a href="{{ url_for('lab8.logout') }}">Выйти</a></button>         
            </div>                  
        </nav>
    </div>
{% endblock %}
